@model PhoneContactMvcApplication.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Address</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">
       Contact
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.People.First)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressTypes.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressTypes.Type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AddressID }, new { data_role = "button" , data_icon="plus" }) |
    @Html.ActionLink("Back to List", "Index", new { },new { data_role = "button" , data_icon="grid" })
</p>
